@counter-style up-pointing-triangle {
    speak-as: bullets;
    system: cyclic;
    symbols: "⯅";
    suffix: " ";
}

:root {
    --brand-teal-color: oklch(62.19% 0.1048 211.64);
    --brand-purple-color: oklch(30.27% 0.1717 289.55);
    --brand-background-color: var(--brand-teal-color);
    --brand-color: var(--brand-purple-color);
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', 'Source Sans Pro', Helvetica, sans-serif;
}

hr {
    max-width: 50px;
    border-color: var(--brand-color);
    border-width: 3px;
}

hr.light {
    border-color: oklch(100% 0 none);
}

a {
    color: var(--brand-background-color);
    transition: all .25s;
    text-decoration: none;
}

a:visited {
    color: var(--brand-color);
}

a:hover,
a:focus {
    color: var(--brand-background-color);
    text-decoration: underline var(--brand-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1.2px;
    font-weight: 900;
}
h4 {
    font-size: 20px;
}
p {
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 400;
    line-height: 1.8;
}

li {
    /*! margin-bottom: 20px; */
    /*! font-size: 120px; */
    /*! letter-spacing: 0.8px; */
    /*! font-weight: 400; */
    /*! line-height: 1.8; */
}

.tagline {
    /*! color: oklch(100% 0 none); */
    /*! background-color: var(--brand-color); */
    line-height: 1.5;
    font-variant-caps: small-caps;
    /*! width: 78%; */
    text-wrap: balance;
}

.tagline ul {
    list-style-type: up-pointing-triangle;
}
.tagline ul > li::marker {
    color: var(--brand-color);
}

.inline-list {
    display: inline;
    padding-inline-start: 0;
    padding-inline-end: 0;
}
.inline-list > li {
    display: inline flow list-item;
}

@supports not (wrap-inside: avoid) {
    .list-avoid-wrap > li {
        white-space: nowrap;
    }
    .list-avoid-wrap > li > span[role="none"] {
        display: inline-block;
        white-space: normal;
        vertical-align: top;
    }
}
@supports (wrap-inside: avoid) {
    .list-avoid-wrap > li {
        wrap-inside: avoid;
    }
    .list-avoid-wrap > li > span[role="none"] {
        display: contents;
    }
}

.bg-primary {
    background-color: oklch(57.59% 0.119 242.28); /* sky blue */
}

.bg-dark {
    color: oklch(100% 0 none);
    background-color: oklch(25.20% 0 none);
}

section {
    margin: 50px 0;
}

footer {
    padding-bottom: 25px;
}

.navbar-default {
    border-color: oklch(25.20% 0 none / 5%);
    background-color: oklch(100% 0 none);
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    font-variant-caps: small-caps;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: var(--brand-color);
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: var(--brand-background-color);
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: oklch(25.20% 0 none);
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: gray; /* ??? on hover - gray */
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    color: oklch(25.20% 0 none) !important; /* selected nav link color - black */
    /*! background-color: var(--brand-background-color); */
    border-bottom: medium solid var(--brand-color);
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
    /*! background-color: var(--brand-background-color); */
    border-bottom: medium solid var(--brand-color);
}

.brand-full {
    display: none;
}

.pay-button {
    font-family: 'Lato', 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 400;
    line-height: 1.8;
    position: absolute;
    top: 5px;
    right: 15px;
}

.services-section {
    margin-top: 30px;
}

.contact-row {
}

@media (min-width: 768px) {
    .navbar-sticky-top .navbar-collapse {
        padding-right: 0;
    }

    .navbar-default {
        border-color: oklch(100% 0 none / 30%); /* transparent */
        background-color: oklch(100% 0 none);
    }

    .navbar-default .navbar-header .navbar-brand {
        color: var(--brand-color); /* title/brand color - purple */
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: var(--brand-background-color); /* title/brand color on hover - teal */
    }

    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        color: oklch(25.20% 0 none); /* nav link color - black */
    }

    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
        color: gray; /* nav link color on hover - gray */
    }

    .navbar-default.affix {
        border-color: oklch(25.20% 0 none / 5%);
        background-color: oklch(100% 0 none);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 18px;
        color: var(--brand-color); /* nav link color - purple */
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: var(--brand-background-color); /* title/brand color on hover - teal */
    }

    .navbar-default.affix .nav > li > a,
    .navbar-default.affix .nav > li > a:focus {
        color: oklch(25.20% 0 none); /* nav link color - black */
    }

    .navbar-default.affix .nav > li > a:hover,
    .navbar-default.affix .nav > li > a:focus:hover {
        color: gray; /* nav link color on hover - gray */
    }

    .brand-full {
        display: block;
    }

    .brand-mobile {
        display: none;
    }

    section {
        margin: 75px 0;
    }

    .services-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.navbar-sticky-top .navbar-collapse {
  max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-sticky-top .navbar-collapse {
    max-height: 200px;
  }
}

.navbar-sticky-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-sticky-top {
    border-radius: 0;
  }
}
.navbar-sticky-top {
  border-width: 0 0 1px;
}

.navbar.navbar-sticky-top ~ * {
    scroll-margin-top: calc(50px + 30px);
}

@media (min-width: 1024px) {
  .services-section {
      flex-direction: row;
  }

  .services-img {
      width: 50%;
  }
}

@media (max-width: 768px) {
    .navbar-header {
        display: flex;
        align-items: center;
    }

    button.navbar-toggle {
        margin-left: 15px;
    }
}

@media (max-width: 1024px) {
    .contact-row {
        margin-bottom: 40px;
    }
}

header {
    width: 100%;
    text-align: center;
    color: oklch(25.20% 0 none);
}

header .header-content {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 100px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

@media (min-width: 768px) {
    header .header-content {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
    letter-spacing: 2px;
}

.service-box {
    margin: 50px auto 0;
    max-width: 500px;
}

@media (min-width: 992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.text-primary {
    color: #2980b9;
}

.btn-default {
    border-color: #fff;
    color: oklch(25.20% 0 none);
    background-color: #fff;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: oklch(25.20% 0 none);
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-primary {
    border-color: #2980b9;
    color: #fff;
    background-color: #2980b9;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #156ba4;
    color: #fff;
    background-color: #156ba4;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #2980b9;
    background-color: #2980b9;
}

.btn {
    border: 0;
    border-radius: 5px;
    font-variant-caps: small-caps;
    font-family: 'Lato', 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 700;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: oklch(25.20% 0 none);
}

img::selection {
    color: #fff;
    background: 0 0;
}

body {
    -webkit-tap-highlight-color: oklch(25.20% 0 none);
}

.box {
    height: 400px;
    margin: 25px 0;
    padding: 0 20px;
}

.box h3 {
    font-size: 18px;
    letter-spacing: 1.3px;
    border-bottom: solid 1.5px white;
    padding-bottom: 6px;
    line-height: 1.2;
    font-weight: bold;
}

.bg-light-gray {
    background-color: #d3d3d3;
}

.rounded {
    width: 160px;
    height: 160px;
    border-radius: 100px;
}

.list-active .rounded {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    border: 5px solid #5aace3;
}

.profile .list-active h4 {
    font-size: 16px;
    font-weight: normal;
    color: var(--brand-background-color);
}

.profile h4 {
    font-size: 16px;
    font-weight: normal;
}

.profile .col-lg-2 {
    width: 189px;
    height: 210px;
    padding: 0 5px 0 5px;
    margin: 0 0px 0 0;
}

.carousel: {
    /*! margin-top: 77px; */
    height: 100%;
    margin-bottom: 0px;
    max-width: 1170px;
    margin: 0 auto;
    position: absolute;
}

.item h3 {
    font-size: 18px;
    letter-spacing: 1.3px;
    border-bottom: solid 1.5px white;
    padding-bottom: 6px;
    line-height: 1.2;
    font-weight: bold;
    color: var(--brand-background-color);
}

.carousel-indicators {
  /*! bottom: -50px; */
}

.carousel-inner {
   margin-bottom: 50px;
   margin-top: 100px;
   height: 180px;
}

.carousel-indicators li {
    /*! display: inline-block; */
    /*! background-color: rgba(0,0,0,0); */
    /*! border: 1px solid var(--brand-background-color); */
    /*! border-radius: 10px; */
}

.carousel-indicators .active {
    /*! background: var(--brand-background-color); */
}

.slider {
    background: #f0f0f0;
    overflow: hidden;
    text-align: left;
    margin: 20px 0 20px 98px;
    padding: 30px 41px 30px 41px;
}

.slider p {
    margin: 0 0 0 0;
}

.slider h4 {
    font-size: 22px;
}

.slider h5 {
    font-size: 18px;
    font-weight: bold;
    color: #8c8c8c;
}

/* photo gallery */

.thumbnails img {
    height: 80px;
    padding: 1px;
    margin: 0 10px 10px 0;
}

.thumbnails img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.preview img {
    padding: 1px;
    height: 500px;
    max-width: 100%;
}
